services:
  alerts:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    environment:
      - PORT=${PORT:-3000}
      - NODE_ENV=${NODE_ENV:-development}
      - HOST_URL=${HOST_URL:-http://localhost:3000}
      - SKIP_TO_CURRENT_BLOCK=${SKIP_TO_CURRENT_BLOCK:-true}
      - MAILGUN_API_KEY=${MAILGUN_API_KEY:-}
      - MAILGUN_DOMAIN=${MAILGUN_DOMAIN:-}
      - MAILGUN_FROM_EMAIL=${MAILGUN_FROM_EMAIL:-}
    volumes:
      - ./data:/usr/src/app/data
