<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  </head>
  <body
    style='margin: 0; padding: 0; background-color: #000000; color: #ffffff;'
  >
    <div
      style='max-width: 28rem; width: 100%; padding: 1.5rem; margin: 0 auto;'
    >
      <div style='min-height: 100vh;'>
        <div style='padding: 3rem;'>
          <h1
            style='font-size: 1.875rem; font-weight: 600; margin-bottom: 1.5rem; text-align: center; font-family: Arial, sans-serif;'
          >
            {{heading}}
          </h1>
          <p
            style='text-align: center; margin-bottom: 1.5rem; color: #9ca3af; font-size: 0.875rem; padding: 0 2rem; font-family: Arial, sans-serif;'
          >
            {{{body}}}
          </p>
        </div>
        <footer style='background-color: #000000; text-align: center;'>
          <div style='padding: 1rem 0; opacity: 0.75;'>
            <a
              href='https://github.com/ar-io'
              target='_blank'
              rel='noopener noreferrer'
              style='color: #9ca3af; text-decoration: none; transition: color 0.3s ease; display: inline-block; margin: 0 0.5rem;'
            >
              <img
                src='https://permagate.io/sdDRC4g6punvz_DUojxRAXeCH0JJxcZKi4R_8t8ys7c'
                alt='GitHub Logo'
                style='height: 1.5rem;'
              />
            </a>
            <a
              href='https://discord.gg/v3wBR7k8'
              target='_blank'
              rel='noopener noreferrer'
              style='color: #9ca3af; text-decoration: none; transition: color 0.3s ease; display: inline-block; margin: 0 0.5rem;'
            >
              <img
                src='https://permagate.io/CByJoW9z4I95uzVypG-_oy6Nh8j8i90IGzHklHeL-j8'
                alt='Discord Logo'
                style='height: 1.5rem;'
              />
            </a>
            <a
              href='https://x.com/ar_io_network'
              target='_blank'
              rel='noopener noreferrer'
              style='color: #9ca3af; text-decoration: none; transition: color 0.3s ease; display: inline-block; margin: 0 0.5rem;'
            >
              <img
                src='https://permagate.io/ZS9pWCmeCTZQnLz4hO5M9nxDvDX73YbC3irwkSqO8xQ'
                alt='X (formerly Twitter) Logo'
                style='height: 1.5rem;'
              />
            </a>
            <a
              href='https://permagate.io'
              target='_blank'
              rel='noopener noreferrer'
              style='color: #9ca3af; text-decoration: none; transition: color 0.3s ease; display: inline-block; margin: 0 0.5rem;'
            >
              <img
                src='https://permagate.io/OwWBV19Go1iEr1QOJbYLSI7M6GLCZITilcfJN6KjI4s'
                alt='permagate.io'
                style='height: 1.5rem;'
              />
            </a>
          </div>
          <p
            style='font-size: 0.875rem; color: #6b7280; padding: 1rem; font-family: Arial, sans-serif;'
          >
            <a href='https://arweave.org'><img
                src='https://permagate.io/yEYmbzOdj10x29DiivaBHG0_d0T9ba99XcStb2FujwI'
                alt='Arweave'
                style='width: 6rem; display: inline-block; vertical-align: middle;'
              /></a>
            |
            <a href='https://ar.io'><img
                src='https://permagate.io/u1YMHUQDHsF8CKdhOaE2gZPHS1Noq5QYu5XAEH23LXo'
                alt='AR.IO'
                style='width: 3rem; display: inline-block; vertical-align: middle;'
              /></a>
            |
            <a
              href='https://permagate.io'
              style='color: #9ca3af; text-decoration: none;'
            >permagate.io</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
